.home_banner_container[data-v-23cd20b0] {
  width: 100%;
  height: 100vh;
  position: relative;
}
/* Special case: short banner for specific page (About Fakhro Motors) */
.home-banner--short .home_banner_container[data-v-23cd20b0] {
  height: 50vh;
} .home_banner_container .swiper-button-prev[data-v-23cd20b0],
.home_banner_container .swiper-button-next[data-v-23cd20b0] {
  width: 48px;
  height: 48px;
  opacity: 0.35;
  transition: opacity 0.2s ease-in-out;
}
.home_banner_container .swiper-button-prev[data-v-23cd20b0]:hover,
.home_banner_container .swiper-button-next[data-v-23cd20b0]:hover {
  opacity: 1;
}
.home_banner_container .swiper-button-prev svg[data-v-23cd20b0],
.home_banner_container .swiper-button-next svg[data-v-23cd20b0] {
  width: 48px;
  height: 48px;
}
.home_banner_container .swiper-button-prev[data-v-23cd20b0]::after,
.home_banner_container .swiper-button-next[data-v-23cd20b0]::after {
  display: none;
}
.home_banner_container .swiper-button-prev[data-v-23cd20b0] {
  left: calc(var(--rpx, 1px) * 96);
}
.home_banner_container .swiper-button-next[data-v-23cd20b0] {
  right: calc(var(--rpx, 1px) * 96);
}
.home_banner_container .swiper-pagination[data-v-23cd20b0] {
  text-align: left;
  left: calc(var(--rpx, 1px) * 96);
  bottom: calc(var(--rpx, 1px) * 54);
  width: auto;
}
.home_banner_container .swiper-pagination[data-v-23cd20b0] .swiper-pagination-bullet {
  width: 32px;
  height: 4px;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 8px;
  opacity: 1;
}
.home_banner_container .swiper-pagination[data-v-23cd20b0] .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
@media (max-width: 1600px) {
.home_banner_container .swiper-button-prev[data-v-23cd20b0],
  .home_banner_container .swiper-pagination[data-v-23cd20b0] {
    left: 16px;
}
.home_banner_container .swiper-button-next[data-v-23cd20b0] {
    right: 16px;
}
}
.home_banner_wrapper .banner-slide[data-v-23cd20b0] {
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(1.33deg, rgba(0, 0, 0, 0) 14.181%, rgba(0, 0, 0, 0.18) 61.939%, rgba(0, 0, 0, 0.33) 99.085%);
}
.home_banner_wrapper .banner-slide-source img[data-v-23cd20b0],
.home_banner_wrapper .banner-slide-source video[data-v-23cd20b0] {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.home_banner_wrapper .banner-slide-content[data-v-23cd20b0] {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13.75vw;
  text-align: center;
}
.home_banner_wrapper .banner-slide-content.left-center[data-v-23cd20b0] {
  align-items: flex-start;
  justify-content: center;
  padding-top: 0;
  text-align: left;
}
.home_banner_wrapper .banner-slide-content.bottom-center[data-v-23cd20b0] {
  padding-top: 0;
  padding-bottom: 4.1666666667vw;
  justify-content: flex-end;
}
.home_banner_wrapper .banner-slide-content.top-center[data-v-23cd20b0] {
  align-items: center;
  justify-content: flex-start;
  padding-top: 6.6666666667vw;
  text-align: center;
}
.home_banner_wrapper .banner-slide-content .content-wrapper .text[data-v-23cd20b0] {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: calc(var(--rpx, 1px) * 16);
}
.home_banner_wrapper .banner-slide-content .content-wrapper .title[data-v-23cd20b0] {
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: calc(var(--rpx, 1px) * 16);
}
.home_banner_wrapper .banner-slide-content .content-wrapper .title-img[data-v-23cd20b0] {
  width: calc(var(--rpx, 1px) * 657);
  margin-bottom: calc(var(--rpx, 1px) * 16);
  display: block;
}
.home_banner_wrapper .banner-slide-content .content-wrapper .description[data-v-23cd20b0] {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: calc(var(--rpx, 1px) * 32);
}
.home_banner_wrapper .banner-slide-content .btns-wrapper[data-v-23cd20b0] {
  display: flex;
  gap: calc(var(--rpx, 1px) * 16);
}
.home_banner_wrapper .banner-slide-content .btns-wrapper .btn[data-v-23cd20b0] {
  padding: 16px 24px;
  min-width: calc(var(--rpx, 1px) * 220);
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.home_banner_wrapper .banner-slide-content .btns-wrapper .btn[data-v-23cd20b0]:hover {
  border-color: rgb(42, 103, 207);
  background: rgb(42, 103, 207);
}
.home_banner_wrapper .banner-slide-content .btns-wrapper .btn.primary[data-v-23cd20b0] {
  border-color: rgb(225, 225, 225);
  background: rgb(255, 255, 255);
  color: #000;
}
.home_banner_wrapper .banner-slide-content .btns-wrapper .btn.primary[data-v-23cd20b0]:hover {
  border-color: rgb(42, 103, 207);
  background: rgb(42, 103, 207);
  color: rgb(255, 255, 255);
}
.home_banner_wrapper .banner-slide .media-controller[data-v-23cd20b0] {
  position: absolute;
  right: calc(var(--rpx, 1px) * 64);
  bottom: calc(var(--rpx, 1px) * 54);
  z-index: 2;
  display: flex;
  gap: calc(var(--rpx, 1px) * 16);
}
.home_banner_wrapper .banner-slide .media-controller-btn[data-v-23cd20b0] {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.home_banner_wrapper .banner-slide .media-controller-btn svg[data-v-23cd20b0] {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 767.98px) {
.home_banner_wrapper .banner-slide-content[data-v-23cd20b0] {
    position: absolute;
    z-index: 2;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 54.6666666667vw;
    text-align: center;
}
.home_banner_wrapper .banner-slide-content.left-center[data-v-23cd20b0], .home_banner_wrapper .banner-slide-content.bottom-center[data-v-23cd20b0] {
    align-items: center;
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 29.0666666667vw;
    text-align: center;
}
.home_banner_wrapper .banner-slide-content.top-center[data-v-23cd20b0] {
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 37.6vw;
    text-align: center;
}
.home_banner_wrapper .banner-slide-content .content-wrapper .text[data-v-23cd20b0] {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: calc(var(--rpx, 1px) * 16);
}
.home_banner_wrapper .banner-slide-content .content-wrapper .title[data-v-23cd20b0] {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0;
    margin-bottom: calc(var(--rpx, 1px) * 16);
}
.home_banner_wrapper .banner-slide-content .content-wrapper .title-img[data-v-23cd20b0] {
    width: 100%;
    margin-bottom: calc(var(--rpx, 1px) * 16);
    display: block;
}
.home_banner_wrapper .banner-slide-content .content-wrapper .description[data-v-23cd20b0] {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: calc(var(--rpx, 1px) * 28.88);
}
.home_banner_wrapper .banner-slide-content .btns-wrapper[data-v-23cd20b0] {
    flex-direction: column;
    width: 100%;
    gap: calc(var(--rpx, 1px) * 8);
}
.home_banner_wrapper .banner-slide-content .btns-wrapper .btn[data-v-23cd20b0] {
    padding: 11px;
    border-radius: 8px;
}
.home_banner_wrapper .banner-slide-content .btn-row[data-v-23cd20b0] {
    flex-direction: row;
}
.home_banner_wrapper .banner-slide-content .btn-row .btn[data-v-23cd20b0] {
    width: 50%;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border-radius: 8px;
}
.home_banner_wrapper .banner-slide .media-controller[data-v-23cd20b0] {
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(var(--rpx, 1px) * 24);
    right: auto;
    z-index: 2;
    display: flex;
    gap: calc(var(--rpx, 1px) * 16);
}
.home_banner_wrapper .banner-slide .media-controller-btn[data-v-23cd20b0] {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.home_banner_wrapper .banner-slide .media-controller-btn svg[data-v-23cd20b0] {
    width: 24px;
    height: 24px;
}
}